<script setup lang="ts">
const links = [
  {
    label: "Mentions légales",
  },
  {
    label: "Politique de confidentialité",
  },
  {
    label: "Conditions générales d'utilisation",
  },
];
</script>

<template>
  <UFooter :links="links">
    <template #left> Copyright © {{ new Date().getFullYear() }} </template>

    <template #right>
      <UButton
        icon="i-ri-twitter-x-line"
        color="gray"
        variant="ghost"
        to="https://x.com/nuxt_js"
        target="_blank"
      />
      <UButton
        icon="i-ri-instagram-line"
        color="gray"
        variant="ghost"
        to="https://discord.com/invite/ps2h6QT"
        target="_blank"
      />
      <UButton
        icon="i-ri-threads-line"
        color="gray"
        variant="ghost"
        to="https://github.com/nuxt/nuxt"
        target="_blank"
      />
    </template>
  </UFooter>
</template>
