<script lang="ts" setup>
const light = "/logo.svg";
const dark = "/logo-white.svg";
</script>

<template>
  <div>
    <nuxt-link to="/">
      <UColorModeImage :light="light" :dark="dark" class="h-10" />
    </nuxt-link>
  </div>
</template>
