<script setup lang="ts">
const links = [
  {
    label: "Accueil",
    description: "Bienvenue sur notre site",
    to: "/",
    icon: "i-heroicons-home",
    children: [],
  },
  {
    label: "Découvrir",
    description: "Explorez les trésors de la Corrèze",
    to: "/decouvrir",
    icon: "i-heroicons-explore",
    children: [
      {
        label: "Nature",
        description: "Découvrez la nature",
        exactHash: true,
        to: "/decouvrir/nature",
        icon: "i-material-symbols-nature-outline",
      },
      {
        label: "Patrimoine Historique",

        description: "Visitez le patrimoine historique",
        to: "/decouvrir/patrimoine-historique",
        icon: "i-material-symbols-castle-outline",
      },
      {
        label: "Art et Culture",
        description: "Découvrez l'art et la culture",
        to: "/decouvrir/art-et-culture",
        icon: "i-material-symbols-palette",
      },
      {
        label: "Activités de Plein Air",
        description: "Profitez des activités de plein air",
        to: "/decouvrir/activites-plein-air",
        icon: "i-material-symbols-directions-bike",
      },
    ],
  },
  {
    label: "Planifier son Séjour",
    description: "Organisez votre escapade",
    to: "/planifier-son-sejour",
    icon: "i-heroicons-calendar",
    children: [
      {
        label: "Hébergement Insolite",
        description: "Vivez une expérience unique",
        to: "/planifier-son-sejour/hebergement-insolite",
        icon: "i-material-symbols-cabin",
      },
      {
        label: "Bien-être et Détente",
        description: "Profitez d'un moment de détente",
        to: "/planifier-son-sejour/bien-etre-detente",
        icon: "i-material-symbols-spa",
      },
    ],
  },
  {
    label: "Blog",
    description: "Découvrez nos articles",
    to: "/blog",
    icon: "i-material-symbols-article-outline",
    children: [],
  },
  {
    label: "Galerie",
    description: "Parcourez notre galerie",
    to: "/galerie",
    icon: "i-material-symbols-photo-camera-outline",
    children: [],
  },
  {
    label: "Contact",
    description: "Contactez-nous",
    to: "/contact",
    icon: "i-material-symbols-mail-outline",
    children: [],
  },
];

const items = [
  [
    {
      label: "ben@example.com",
      slot: "account",
      disabled: true,
    },
  ],
  [
    {
      label: "Inscription",
    },
    {
      label: "Connexion",
    },
  ],
  [
    {
      label: "Déconnexion",
      icon: "i-heroicons-arrow-right-on-rectangle",
    },
  ],
];
</script>

<template>
  <UHeader :links="links">
    <template #logo>
      <LayoutLogo></LayoutLogo>
    </template>

    <template #right>
      <UColorModeButton />
      <UDropdown
        :items="items"
        :ui="{ item: { disabled: 'cursor-text select-text' } }"
        :popper="{ placement: 'bottom-start' }"
      >
        <UButton
          to="https://github.com/nuxt/ui"
          target="_blank"
          icon="i-heroicons-user-circle"
          color="gray"
          variant="ghost"
        />

        <template #account="{ item }">
          <div class="text-left">
            <p>Connecté en tant que</p>
            <p class="truncate font-medium text-gray-900 dark:text-white">
              {{ item.label }}
            </p>
          </div>
        </template>

        <template #item="{ item }">
          <span class="truncate">{{ item.label }}</span>
          <UIcon
            :name="item.icon"
            class="flex-shrink-0 h-4 w-4 text-gray-400 dark:text-gray-500 ms-auto"
          />
        </template>
      </UDropdown>
    </template>

    <template #panel>
      <UNavigationTree :links="links" />
    </template>
  </UHeader>
</template>
