<script setup lang="ts">
definePageMeta({
  layout: "public",
});
useSeoMeta({
  title: "Accueil",
});
const links = [
  {
    label: "Accueil",
    icon: "i-heroicons-home",
    to: "/",
  },
  {
    label: "Découvrir",
    icon: "i-material-symbols-explore",
  },
];
</script>

<template>
  <UContainer class="mt-10">
    <UBreadcrumb :links="links" :ui="{ ol: 'gap-x-3', li: 'gap-x-3' }">
      <template #divider>
        <span class="w-8 h-1 rounded-full bg-gray-300 dark:bg-gray-700" />
      </template>
    </UBreadcrumb>
    <UPageHeader
      headline="Explorez la Beauté de la Corrèze"
      title="Découvrir"
      description="Un écrin de nature préservée et de richesses historiques. Explorez des paysages enchanteurs, plongez dans l'histoire des châteaux, et découvrez une culture vibrante. Votre aventure authentique commence ici, au cœur de la Corrèze."
      icon="i-material-symbols-explore"
    />
  </UContainer>
  <UContainer class="my-10 flex flex-col gap-10">
    <ULandingCard
      title="Nature"
      description="Explorez la splendeur de la nature préservée en Corrèze, où des parcs verdoyants invitent à l'émerveillement, des lacs sereins offrent des moments de quiétude, des jardins botaniques révèlent une diversité florale exceptionnelle, et des points de vue panoramiques vous laissent sans voix."
      icon="i-material-symbols-nature-outline"
      color="primary"
      orientation="horizontal"
      to="/docs/color-palette"
      left
    >
      <img
        src="https://picsum.photos/640/360?grayscale"
        class="w-full rounded-md"
      />
    </ULandingCard>
    <ULandingCard
      title="Patrimoine Historique"
      description="Explorez l'héritage riche et captivant de la Corrèze à travers ses lieux historiques emblématiques. Parcourez des châteaux majestueux qui racontent des siècles d'histoires, découvrez l'architecture élégante de nos églises chargées de spiritualité, visitez des monuments historiques qui témoignent du passé."
      icon="i-material-symbols-castle-outline"
      color="primary"
      orientation="horizontal"
      to="/docs/color-palette"
    >
      <img
        src="https://picsum.photos/640/360?grayscale"
        class="w-full rounded-md"
      />
    </ULandingCard>
    <ULandingCard
      title="Art et Culture"
      description="Explorez la culture vibrante de la Corrèze, où des musées fascinants vous invitent à découvrir des collections d'art et d'histoire, des festivals animés vous offrent des moments de divertissement, des galeries d'art vous font découvrir des œuvres d'artistes locaux, et des ateliers d'artisans vous permettent de découvrir des savoir-faire traditionnels."
      icon="i-material-symbols-palette"
      color="primary"
      orientation="horizontal"
      to="/docs/color-palette"
    >
      <img
        src="https://picsum.photos/640/360?grayscale"
        class="w-full rounded-md"
      />
    </ULandingCard>
    <ULandingCard
      title="Activités de Plein Air"
      description="Explorez les activités de plein air en Corrèze, où des sentiers de randonnée vous invitent à l'aventure, des pistes cyclables vous offrent des moments de détente, des parcs d'attractions vous font vivre des expériences inoubliables, et des parcs animaliers vous permettent de découvrir la faune locale."
      icon="i-material-symbols-directions-bike"
      color="primary"
      to="/docs/color-palette"
      orientation="horizontal"
    >
      <img
        src="https://picsum.photos/640/360?grayscale"
        class="w-full rounded-md"
      />
    </ULandingCard>
  </UContainer>
</template>
