<script setup lang="ts">
import type {Poi} from "~/interfaces/Poi";

definePageMeta({
  layout: "public",
});
useSeoMeta({
  title: "Accueil",
});

const { getItems } = useDirectusItems();


const fetchPoi = async () => {
  try {
    const filters = { categories: 'nature' };
    const items = await getItems<Poi>({
      collection: "poi",
      params: {
        filter: filters,
      },
    });
  } catch (e) {}
};

fetchPoi()

</script>

<template>
  <ULandingHero
    title="Explorez la Beauté de la Corrèze"
    description="Un écrin de nature préservée et de richesses historiques. Explorez des paysages enchanteurs, plongez dans l'histoire des châteaux, et découvrez une culture vibrante. Votre aventure authentique commence ici, au cœur de la Corrèze."
    orientation="vertical"
    :links="[
      {
        label: 'Découvrir notre département',
        icon: 'i-material-symbols-explore',
        color: 'primary',
        size: 'lg',
        to: '/decouvrir',
      },
    ]"
  >
  </ULandingHero>
  <ULandingSection
    icon="i-material-symbols-explore"
    title="Harmonie Naturelle"
    description="Explorez la splendeur de la nature préservée en Corrèze, où des parcs verdoyants invitent à l'émerveillement, des lacs sereins offrent des moments de quiétude, des jardins botaniques révèlent une diversité florale exceptionnelle, et des points de vue panoramiques vous laissent sans voix."
    align="left"
    :links="[
      {
        label: 'Explorez la Nature',
        icon: 'i-material-symbols-more-horiz',
        color: 'primary',
        size: 'lg',
      },
    ]"
    ><UBlogPost
      title="Le massif des Monédières"
      description="Le massif des Monédières est un massif montagneux du Massif central, situé dans le département de la Corrèze, en région Nouvelle-Aquitaine. Il culmine à 919 mètres d'altitude au puy de Monédières."
      orientation="vertical"
      :image="{
        src: 'https://picsum.photos/640/360',
        alt: 'Le massif des Monédières',
      }"
      :badge="{ label: 'Site incontournable', color: 'gray' }"
    />
  </ULandingSection>
  <ULandingSection
    icon="i-material-symbols-castle-outline"
    title="Héritage Historique"
    description="Explorez l'héritage riche et captivant de la Corrèze à travers ses lieux historiques emblématiques. Parcourez des châteaux majestueux qui racontent des siècles d'histoires, découvrez l'architecture élégante de nos églises chargées de spiritualité, visitez des monuments historiques qui témoignent du passé, et plongez dans l'histoire enfouie à travers des vestiges archéologiques fascinants."
    align="right"
    :links="[
      {
        label: 'Explorez le Patrimoine Historique',
        icon: 'i-material-symbols-more-horiz',
        color: 'primary',
        size: 'lg',
      },
    ]"
    ><UBlogPost
      title="Château de Val"
      description="Le château de Val est un château français situé sur la commune de Bort-les-Orgues dans le département de la Corrèze et la région Nouvelle-Aquitaine. Il est construit sur une presqu'île du lac de retenue du barrage de Bort-les-Orgues, sur la Dordogne."
      orientation="vertical"
      :image="{
        src: 'https://picsum.photos/640/360',
        alt: 'Le massif des Monédières',
      }"
      :badge="{ label: 'Site incontournable', color: 'gray' }"
    />
  </ULandingSection>
  <ULandingSection
    icon="i-material-symbols-photo-camera"
    title="Dans l'oeil des Corréziens"
    description="Nous avons demandé à des Corréziens de partager leurs photos préférées de notre département. Découvrez leurs clichés qui vous donneront envie de visiter la Corrèze."
    align="left"
    :links="[
      {
        label: 'Voir toutes les photos',
        icon: 'i-material-symbols-more-horiz',
        color: 'gray',
        size: 'lg',
      },
    ]"
  >
  </ULandingSection>
  <UContainer>
    <UBlogList orientation="horizontal">
      <UBlogPost
        :image="{ src: 'https://picsum.photos/640/360', alt: 'Nuxt 3.9' }"
      />
      <UBlogPost
        :image="{ src: 'https://picsum.photos/640/360', alt: 'Nuxt 3.9' }"
      />
      <UBlogPost
        :image="{ src: 'https://picsum.photos/640/360', alt: 'Nuxt 3.9' }"
      />
      <UBlogPost
        :image="{ src: 'https://picsum.photos/640/360', alt: 'Nuxt 3.9' }"
      />
      <UBlogPost
        :image="{ src: 'https://picsum.photos/640/360', alt: 'Nuxt 3.9' }"
      />
      <UBlogPost
        :image="{ src: 'https://picsum.photos/640/360', alt: 'Nuxt 3.9' }"
      />
    </UBlogList>
    <ULandingCTA
      title="Rejoins la communauté Pais dau Corresa"
      description="Tu veux partager tes photos de la Corrèze ? Tu veux nous aider à améliorer le site ? Rejoins nous !"
      :card="false"
      :links="[
        { label: 'Nous contacter', color: 'primary', size: 'lg' },
        {
          label: 'Qui sommes-nous ?',
          variant: 'link',
          color: 'gray',
          size: 'lg',
          trailingIcon: 'i-heroicons-arrow-right-20-solid',
        },
      ]"
    />
  </UContainer>
</template>
